<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white ms-4" href="#">Ultimate Hub</a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav"
          data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ms-auto me-4">
    <span class="badge bg-danger">Utilisateur: John Doe</span>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <input aria-label="Search" class="form-control" placeholder="Search Player" type="search">
    </div>
  </div>
  <div class="row mt-4">
    <ng-container *ngIf="players | async as playersList; else loadingOrEmpty">
      <p>{{ playersList.players | json }}</p>
      <section *ngFor="let player of playersList.players" class="col-md-2 col-sm-6 mb-4">
        <p>card</p>
        <app-player-card [player]="player"></app-player-card>
      </section>
    </ng-container>

    <ng-template #loadingOrEmpty>
      <p>Aucun joueur trouvé ou en attente de chargement...</p>
    </ng-template>
  </div>
</div>
