.player-card {
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid grey;
  background-color: #f8f9fa;
  min-height: 15rem;
}

.player-card:hover {
  transform: scale(1.05);
  border-color: gold;
}

img {
  width: 250px;
  height: 200px;
  object-fit: fill;
}
