<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white ms-4" href="#">Ultimate Hub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ms-auto me-4">
    <span class="badge bg-danger">Utilisateur: John Doe</span>
  </div>
</nav>

<div class="row mt-4 mx-4">
  <div class="col">
    <p>{{playerId}}</p>
  </div>
</div>

